## Data Wrangling

Data wrangling, also known as data munging, is the process of transforming and mapping raw data into a more useful format for analysis. This process typically involves several steps, including:

1. **Data Collection**: Gathering data from various sources, such as databases, APIs, or flat files.
2. **Data Cleaning**: Identifying and correcting errors or inconsistencies in the data. This may involve handling missing values, removing duplicates, and correcting data types.
3. **Data Transformation**: Modifying the data to fit the requirements of the analysis. This can include normalizing data, aggregating data, and creating new calculated fields.
4. **Data Integration**: Combining data from different sources to create a unified dataset. This may involve merging datasets, joining tables, and aligning data formats.
5. **Data Reduction**: Reducing the volume of data to make it more manageable. This can include filtering out irrelevant data, sampling data, and dimensionality reduction.

The goal of data wrangling is to ensure that the data is accurate, consistent, and ready for analysis. By performing these steps, we can improve the quality of the data and make it easier to extract meaningful insights.

# Used Cars Data Analysis

In this notebook, we will analyze the used cars dataset from the UCI Machine Learning Repository. The dataset can be found [here](https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data).

## Importing Libraries

First, we need to import the necessary libraries.

In [34]:
import pandas as pd
import numpy as np

### Load DataSet

In [35]:
# Load the dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
column_names = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration", "num_doors", "body_style", "drive_wheels", "engine_location", "wheel_base", "length", "width", "height", "curb_weight", "engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]
df = pd.read_csv(url, names=column_names)

# Display the first few rows of the dataframe
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Data Cleaning

In this section, we performed several data cleaning steps to prepare the dataset for analysis. Here are the steps we took and the reasons behind them:

1. **Replace '?' with NaN**:
    - **Reason**: The dataset contains missing values represented by the character '?'. To handle these missing values properly, we replaced '?' with `NaN` (Not a Number), which is the standard missing value marker used in pandas.
    - **Benefit**: This allows us to use pandas' built-in functions to handle missing data more effectively.

2. **Convert Columns to Appropriate Data Types**:
    - **Reason**: Some columns that should be numeric are currently stored as objects (strings). We converted these columns to their appropriate numeric data types.
    - **Columns Converted**: `normalized_losses`, `bore`, `stroke`, `horsepower`, `peak_rpm`, and `price`.
    - **Benefit**: Converting these columns to numeric types allows us to perform mathematical operations and statistical analyses on them.

3. **Drop Rows with Missing Values**:
    - **Reason**: After converting the columns, some rows still contain `NaN` values. We decided to drop these rows to ensure that our analysis is based on complete data.
    - **Benefit**: This helps in avoiding errors and inaccuracies in our analysis due to missing values.

By performing these data cleaning steps, we ensure that our dataset is in a suitable format for further analysis. This will help us in generating accurate insights and making reliable conclusions from the data.

In [36]:
# Replace '?' with NaN
df.replace('?', np.nan, inplace=True)

# Convert columns to appropriate data types
df['normalized_losses'] = pd.to_numeric(df['normalized_losses'])
df['bore'] = pd.to_numeric(df['bore'])
df['stroke'] = pd.to_numeric(df['stroke'])
df['horsepower'] = pd.to_numeric(df['horsepower'])
df['peak_rpm'] = pd.to_numeric(df['peak_rpm'])
df['price'] = pd.to_numeric(df['price'])

# Drop rows with missing values
df1 = df.dropna()

# Display the first few rows of the cleaned dataframe
df1.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.8,8.8,101.0,5800.0,23,29,16430.0

#### Difference between uncleaned and cleaned data

In [37]:
print("Uncleaned data distribution and statistics:")
print(df.describe())
print("Cleaned data distribution and statistics:")
print(df1.describe())

Uncleaned data distribution and statistics:
        symboling  normalized_losses  wheel_base      length       width  \
count  205.000000         164.000000  205.000000  205.000000  205.000000
mean     0.834146         122.000000   98.756585  174.049268   65.907805
std      1.245307          35.442168    6.021776   12.337289    2.145204
min     -2.000000          65.000000   86.600000  141.100000   60.300000
25%      0.000000          94.000000   94.500000  166.300000   64.100000
50%      1.000000         115.000000   97.000000  173.200000   65.500000
75%      2.000000         150.000000  102.400000  183.100000   66.900000
max      3.000000         256.000000  120.900000  208.100000   72.300000

           height  curb_weight  engine_size        bore      stroke  \
count  205.000000   205.000000   205.000000  201.000000  201.000000
mean    53.724878  2555.565854   126.907317    3.329751    3.255423
std      2.443522   520.680204    41.642693    0.273539    0.316717
min     47.800000  1488.000000    61.000000    2.540000    2.070000
25%     52.000000  2145.000000    97.000000    3.150000    3.110000
50%     54.100000  2414.000000   120.000000    3.310000    3.290000
75%     55.500000  2935.000000   141.000000    3.590000    3.410000
max     59.800000  4066.000000   326.000000    3.940000    4.170000

       compression_ratio  horsepower     peak_rpm    city_mpg  highway_mpg  \
count         205.000000  203.000000   203.000000  205.000000   205.000000
mean           10.142537  104.256158  5125.369458   25.219512    30.751220
std             3.972040   39.714369   479.334560    6.542142     6.886443
min             7.000000   48.000000  4150.000000   13.000000    16.000000
25%             8.600000   70.000000  4800.000000   19.000000    25.000000
50%             9.000000   95.000000  5200.000000   24.000000    30.000000
75%             9.400000  116.000000  5500.000000   30.000000    34.000000
max            23.000000  288.000000  6600.000000   49.000000    54.000000

              price
count    201.000000
mean   13207.129353
std     7947.066342
min     5118.000000
25%     7775.000000
50%    10295.000000
75%    16500.000000
max    45400.000000
Cleaned data distribution and statistics:
        symboling  normalized_losses  wheel_base      length       width  \
count  159.000000         159.000000  159.000000  159.000000  159.000000
mean     0.735849         121.132075   98.264151  172.413836   65.607547
std      1.193086          35.651285    5.167416   11.523177    1.947883
min     -2.000000          65.000000   86.600000  141.100000   60.300000
25%      0.000000          94.000000   94.500000  165.650000   64.000000
50%      1.000000         113.000000   96.900000  172.400000   65.400000
75%      2.000000         148.000000  100.800000  177.800000   66.500000
max      3.000000         256.000000  115.600000  202.600000   71.700000

           height  curb_weight  engine_size        bore      stroke  \
count  159.000000   159.000000   159.000000  159.000000  159.000000
mean    53.899371  2461.138365   119.226415    3.300126    3.236352
std      2.268761   481.941321    30.460791    0.267336    0.294888
min     49.400000  1488.000000    61.000000    2.540000    2.070000
25%     52.250000  2065.500000    97.000000    3.050000    3.105000
50%     54.100000  2340.000000   110.000000    3.270000    3.270000
75%     55.500000  2809.500000   135.000000    3.560000    3.410000
max     59.800000  4066.000000   258.000000    3.940000    4.170000

       compression_ratio  horsepower     peak_rpm    city_mpg  highway_mpg  \
count         159.000000  159.000000   159.000000  159.000000   159.000000
mean           10.161132   95.836478  5113.836478   26.522013    32.081761
std             3.889475   30.718583   465.754864    6.097142     6.459189
min             7.000000   48.000000  4150.000000   15.000000    18.000000
25%             8.700000   69.000000  4800.000000   23.000000    28.000000
50%             9.000000   88.000000  5200.000000   26.000000    32.000000
75%             9.400000  114.000000  5500.000000   31.000000    37.000000
max            23.000000  200.000000  6600.000000   49.000000    54.000000

              price
count    159.000000
mean   11445.729560
std     5877.856195
min     5118.000000
25%     7372.000000
50%     9233.000000
75%    14719.500000
max    35056.000000

### Export Cleaned Data

In this section, we will export the cleaned dataframe `df1` to a CSV file. This will allow us to save the cleaned data for future use and share it with others easily. Exporting the data to a CSV file ensures that our data cleaning efforts are preserved and can be utilized in other projects or analyses.

In [38]:
# Export the cleaned dataframe to a CSV file
df1.to_csv('cleaned_used_cars.csv', index=False)

### Count missing values in each colunn

In [39]:
missing_data = df1.isnull()
missing_data.head(5)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
symboling
False    159
Name: count, dtype: int64

normalized_losses
normalized_losses
False    159
Name: count, dtype: int64

make
make
False    159
Name: count, dtype: int64

fuel_type
fuel_type
False    159
Name: count, dtype: int64

aspiration
aspiration
False    159
Name: count, dtype: int64

num_doors
num_doors
False    159
Name: count, dtype: int64

body_style
body_style
False    159
Name: count, dtype: int64

drive_wheels
drive_wheels
False    159
Name: count, dtype: int64

engine_location
engine_location
False    159
Name: count, dtype: int64

wheel_base
wheel_base
False    159
Name: count, dtype: int64

length
length
False    159
Name: count, dtype: int64

width
width
False    159
Name: count, dtype: int64

height
height
False    159
Name: count, dtype: int64

curb_weight
curb_weight
False    159
Name: count, dtype: int64

engine_type
engine_type
False    159
Name: count, dtype: int64

num_cylinders
num_cylinders
False    159
Name: count, dtype: int64

engine_size
engine_size
False    159
Name: count, dtype: int64

fuel_system
fuel_system
False    159
Name: count, dtype: int64

bore
bore
False    159
Name: count, dtype: int64

stroke
stroke
False    159
Name: count, dtype: int64

compression_ratio
compression_ratio
False    159
Name: count, dtype: int64

horsepower
horsepower
False    159
Name: count, dtype: int64

peak_rpm
peak_rpm
False    159
Name: count, dtype: int64

city_mpg
city_mpg
False    159
Name: count, dtype: int64

highway_mpg
highway_mpg
False    159
Name: count, dtype: int64

price
price
False    159
Name: count, dtype: int64

### Calculate the mean value for normalized losses and replace "NaN" with mean value

In [43]:
# Calculate the mean value for normalized losses
avg_norm_loss = df['normalized_losses'].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

# Replace NaN values with the mean value
df.fillna({'normalized_losses': avg_norm_loss}, inplace=True)

Average of normalized-losses: 122.0

### Calculate the mean value for bore and replace "NaN" with mean value

In [44]:
# Calculate the mean value for normalized losses
avg_bore = df['bore'].astype("float").mean(axis=0)
print("Average of bore:", avg_bore)

# Replace NaN values with the mean value
df.fillna({'bore': avg_bore}, inplace=True)

Average of bore: 3.3297512437810943